* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.about-box {
  margin: 0px 300px;
}

.title-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1d2130;
  margin-bottom: 32px;
}

.about-first__info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  width: 768px;
  margin-bottom: 32px;
}

.about-second__info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 768px;
  color: #525560;
  margin-top: 32px;
  margin-bottom: 96px;
}

.blog {
  margin: 69px auto;
}
.blog > div {
  display: flex;
  align-items: center;
}
.blog__boxes {
  display: flex;
  justify-content: space-between;
}
.blog__title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  color: #1d2130;
  margin: 24px 0;
}
.blog__line {
  width: 981px;
  border: 1px solid #e5e5e5;
  transform: rotate(180deg);
  margin-left: 24px;
}
.blog__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #1c1d28;
  width: 290px;
  margin-top: 10px;
}
.blog__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  width: 290px;
  margin-top: 8px;
}

footer {
  width: 100%;
  height: 402px;
  background-color: #0b0706;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 97px;
}
footer li {
  white-space: nowrap;
}

.links-footer {
  display: flex;
  align-items: center;
  gap: 95px;
}
.links-footer li {
  margin: 24px 0;
}

.first-link__footer {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.second-link__footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.78;
}

.footer-box {
  display: flex;
  gap: 117px;
}

.last-h2__footer {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #ffffff;
  width: 440px;
  margin-bottom: 32px;
}

.last-box__footer {
  display: flex;
  gap: 146px;
}

.form-field {
  display: flex;
  align-items: center;
}

.input-footer {
  font-family: inherit;
  width: 200px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.btn-footer {
  background: #ffffff;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
}

header {
  width: 100%;
  background-color: #eff7f2;
  padding: 24px 0;
  margin-bottom: 96px;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-box ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-box .first-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0b0706;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.header-box .second-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525560;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-box .last-link {
  background: #1d2130;
  border-radius: 4px;
  color: white;
  padding: 12px 32px;
}
.header-box .last-link:hover {
  background-color: aqua;
  color: black;
}

.data-box {
  margin: 100px 300px;
}

.title-data {
  width: 768px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #1d2130;
  margin-bottom: 48px;
}

.data-info {
  display: flex;
  align-items: center;
  gap: 77.6px;
}
.data-info span {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

.line-events {
  border: 1px solid #e5e5e5;
  transform: rotate(180deg);
  width: 514px;
  height: 1px;
  margin-top: 30px;
}

.title-line {
  display: flex;
  gap: 24px;
  white-space: nowrap;
}

.other-events__box {
  margin: 0 300px;
}

.event {
  width: 768px;
  height: 191px;
  background: #bef3c0;
  border-radius: 8px;
  padding: 65px 40px;
}

.data-day {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  font-variant: small-caps;
  color: #1d2130;
}

.data-month {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d2130;
}

.next-events__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d2130;
}

.next-events__line {
  border: 1px solid #1d2130;
  width: 44px;
  height: 1px;
}

.next-events__info {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1d2130;
  width: 521px;
}

.next-events__box {
  display: flex;
  align-items: center;
}

.data-event {
  display: flex;
  gap: 24px;
}

.events-title__boxes {
  display: flex;
  align-content: center;
  gap: 24px;
}

.events {
  margin-bottom: 96px;
}/*# sourceMappingURL=eventreadmore.css.map */