.data {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d2130;
  text-align: center;
  display: block;
  margin-bottom: 32px;
}

.climate-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  color: #1d2130;
  margin-bottom: 16px;
}

.climate-info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #525560;
  margin-bottom: 48px;
}

.h2-mattis {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1d2130;
  text-align: center;
  margin-bottom: 32px;
}

.elP {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  text-align: center;
  margin-bottom: 32px;
}

.transform {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1d2130;
  text-align: center;
  margin-bottom: 16px;
}

.transform-info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  text-align: center;
  margin-bottom: 32px;
}