header {
  width: 100%;
  background-color: #eff7f2;
  padding: 24px 0;
  margin-bottom: 96px;
}
.header-box {
  display: flex;
  align-items: center;
  & ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  justify-content: space-between;
  & .first-link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #0b0706;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  & .second-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #525560;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  & .last-link {
    background: #1d2130;
    border-radius: 4px;
    color: white;
    padding: 12px 32px;
  }
  & .last-link:hover {
    background-color: aqua;
    color: black;
  }
}

.line-box {
  margin-top: 96px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
  & span {
    width: 72px;
    height: 2px;
    background-color: #1d2130;
    display: inline-block;
  }
  & h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1d2130;
  }
}

.first-side__contact {
  margin-left: 106px;
  & h2 {
    font-style: normal;
    width: 480.45px;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: black;
  }
  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1d2130;
    opacity: 0.7;
    width: 480.45px;
  }
}

.contact-box {
  display: flex;
  align-items: center;
  gap: 96px;
}

.second-side__contact {
  & h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #1d2130;
    margin-bottom: 10px;
  }
  & .email-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #1d2130;
    margin-bottom: 16px;
  }
  & .info-details__box {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  & span {
    width: 279px;
    height: 1px;
    background-color: #e5e5e5;
    display: inline-block;
    margin-bottom: 32px;
  }
}

.adress-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 302px;
  color: #525560;
  margin-bottom: 32px;
}

.icon-box {
    display: flex;
    align-items: center;
    gap: 24px;
}